<!DOCTYPE HTML>
<html>
	<head>
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="static/style/style.css" type="text/css">
	</head>
	<body>
		{% csrf_token %}
		<div id="top"></div>
		<div class="plot">
			<h2>График 1</h2>
			<div class="button_area">
				<button class="day" onclick="request_data('p1', 86400, 'hour', ctxp1, area1, n_grid_x_day)" >За день</button><button class="month" onclick="request_data('p1', 2592000, 'day', ctxp1, area1, n_grid_x_month)">За месяц</button>
			</div>
			<canvas id='area_1'>Обновите браузер</canvas></div>
		<div class="plot">
			<h2>График 2</h2>
			<div class="button_area">
				<button class="day" onclick="request_data('p2', 86400, 'hour')">За день</button><button class="month" onclick="request_data('p2', 2592000, 'day')">За месяц</button>
			</div>
			<canvas id='area_2'>Обновите браузер</canvas></div>
		<div class="plot">
			<h2>График 3</h2>
			<div class="button_area">
				<button class="day" onclick="request_data('m1', 86400, 'hour')">За день</button><button class="month" onclick="request_data('m1', 2592000, 'day')">За месяц</button>
			</div>
			<canvas id='area_3'>Обновите браузер</canvas></div>
		<div id="manage"></div>
		<script type="text/javascript" src="static/scripts/calc.js"></script>
		<script type="text/javascript" src="static/scripts/draw.js"></script>
	</body>
</html>
